language: node_js
node_js:
  - "4"
  - "6"
before_install:
  - npm config set http://ci.strongloop.com:4873/
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
services:
  - mongodb
before_script:
  - mongo mydb_test --eval 'db.addUser("travis", "test");'
