language: node_js
node_js:
  - "4"
  - "6"
before_install:
  - npm config set http://ci.strongloop.com:4873/
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
      - mongodb-3.2-precise
    packages:
      - g++-4.8
      - mongodb-org-server
      - mongodb-org-shell
services:
  - mongodb
