# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

# Current maintainers
* @jannyHou @dhmlau @nitro404 @emonddr @hacksparrow @agnes512

# Alumni maintainers
# @loay @virkt25 @shimks @b-admike
