# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners,
# the last matching pattern has the most precedence.

# Current maintainers
* @dhmlau @nitro404 @hacksparrow @agnes512 @achrinza

# Alumni maintainers
# @loay @virkt25 @shimks @b-admike @jannyHou @emonddr
